
.row .col {
  margin-bottom: 20px;
}

.card.horizontal .card-image img {
  width: 100px;
  height: 100px;
  object-fit: cover; 
  display: block;
  margin: auto;
}

.card.horizontal .card-stacked .card-content {
  padding: 10px;
}

.card.horizontal {
  min-height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row > p {
  width: 100%;
  margin-bottom: 15px;
  font-weight: bold;
}
